<div class="container">
    <p>angular/angular</p>
    <p-table [columns]="tableCols" [value]="tableData" selectionMode="single" dataKey="name"
        [(selection)]="selectedRows" (onRowSelect)="onRowSelect($event)" [metaKeySelection]="false">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of tableCols">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns" class="ellipsis_cell" [title]="rowData[col.field]">
                    {{ rowData[col.field] }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>